<html>
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="MarkerCluster.css" type="text/css" media="all" />
    <link rel="stylesheet" href="MarkerCluster.Default.css" type="text/css" media="all" />

    <link rel="stylesheet" href="leaflet-routing-machine.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="leaflet.markercluster.js"></script>
    <script src="leaflet-routing-machine.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="waterfalls.js"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>